root = true

# General requirements
[*]
charset = utf-8
trim_trailing_whitespace = true
# Configs (generated and manually maintained)
indent_style = space
indent_size = 2
insert_final_newline = true

# Code style
[*.js]
indent_style = tab
indent_size = 4
insert_final_newline = false
